$primary:      #000066 ;
$secondary:     #5096e4 ; 
$success:       #72ddd8 ;
$info:          #165f4c ;
$warning:       #a5751b ;
$danger:        #900c5b ;
$light:         #bfd6ffe6 ;
$dark:        #2a2a9539  ;

@import '../node_modules/bootstrap/scss/bootstrap.scss';
