$primary:      #000066 ;
$secondary:     #5096e4 ; 
$success:       #72ddd8 ;
$info:          #165f4c ;
$warning:       #a5751b ;
$danger:        #900c5b ;
$light:         #bccdeae6 ;
$dark:        #251c60c2  ;


@import '../node_modules/bootstrap/scss/bootstrap.scss';

$gradientR: linear-gradient(toright , rgba($primary, .15), rgba($white, 0));
