<div id="contactsSection" class="container-fluid m-0 p-0 pt-4 text">
  <h5 class=" fw-light text-center pt-5 pb-3 ps-2 pe-2 w-100">If you'd like to get in touch,
    please
    forward your query via form below.</h6>
    <div class=" d-md-flex justify-content-center m-2">
      

      <section class="bg-dark bg-gradient d-md-flex justify-items-center align-items-center col-md-4 m-2">
        <form class="p-2 ">
          <!-- Name input -->
          <div class="form-outline mb-2">
            <input type="text" id="form4Exampe1" class="form-control w-50 bg-light " placeholder="name">
            <label class="form-label" for="form4Example1" >Name</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 42.4px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
          <!-- Email input -->
          <div class="form-outline mb-2">
            <input type="email" id="form4Example2" class="form-control w-50 bg-light" placeholder="email">
            <label class="form-label" for="form4Example2" style="margin-left: 0px;">Email address</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 88.8px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
          <!-- Message input -->
          <div class="form-outline mb-2">
            <textarea class="form-control bg-light" id="form4Example3" rows="4"
              placeholder="write your message here"></textarea>
            <label class="form-label m-2 " for="form4Example3" style="margin-left: 0px;">Message</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 60px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
          <!-- Checkbox -->
          <div class="form-check ">
            <input class="form-check-input ms-2 bg-warning" type="checkbox" value="" id="form4" checked="">
            <label class="form-check-label p-1 m-1" for="form4">
              Send me a copy of this message
            </label>
          </div>
          <!-- Submit button -->
          <a href="mailto:sylvek2407@gmail.com" type="submit" role="button"
            class="btn btn-warning bg-gradient text-center w-50 btn-block p-1 m-1">Send</a>
        </form>

        
        </section>
        <!-- embebed map -->
        
        <section class="container col-12 m-0 p-0 col-md-5 pb-4 d-flex flex-column justify-items-center align-items-center" >
          <h6 class=" fw-light text-center pt-3 pb-3">Based at Birmingham, UK</h6>
          <iframe class="col-12 col-md-10"  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10355.56693570119!2d-1.7940127412104323!3d52.464822958888284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1704135318918!5m2!1sen!2suk" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </section>
      
    </div>
</div>