
    <div id='homepage' class=" d-flex text-center pt-4 mb-4 position-absolute-bottom-3 justify-content-center bg-primary bg-gradient  rounded-2 ">
      <section class="row col-10">
        <h1 class="mt-5 pt-5 pb-4">Hi, I'm Sylvester</h1>
        <h2 class="p-5"> Independent full stack developer</h2>


        <div class=" container-fluid row pt-4">
          <section class="d-flex flex-column justify-content-end col col-5">
            <h3 class="p-4 ">Technologies stack</h3>
            <div class="container bg-secondary bottom bg-gradient w-100 mb-0" style="height: 0.15rem;"></div>
          </section>

          <section class="col col-6 ">
            <div class="container-fluid d-flex flex-wrap align-content-start p-2">
              <div class="card col col-2 m-2  bg-secondary-subtle">
                <i class="fa-brands fa-html5 fa-2xl p-3  bg-gradient"></i>
                <p class="card-text">HTML</p>
              </div>
              <div class="card col col-2 m-2  bg-secondary-subtle">
                <i class="fa-brands fa-css3 fa-2xl p-3"></i>
                <p class="card-text">CSS</p>
              </div>
              <div class="card col col-2 m-2  bg-secondary-subtle">
                <i class="fa-brands fa-js fa-2xl p-3"></i>
                <p class="card-text">JavaScript</p>
              </div>
              <div class="card col col-2 m-2 bg-secondary-subtle">
                <i class="fa-brands fa-bootstrap fa-2xl p-3"></i>
                <p class="card-text">Bootstrap</p>
              </div>
              <div class="card col col-2 m-2 bg-secondary-subtle">
                
                <img class="img-fluid w-50 " src="../media/icons8-sass-50.png" style="width: 25%; margin: 0 auto;">
                <p class="card-text ">Sass</p>
              </div>
              <div class="ccard col col-2 rounded-2 m-2 bg-secondary-subtle">
                <img src="./media/jquery-ui-logo.256x224.png" style="width: 25%; margin: 0 auto; padding-top: 10px;"
                  alt="jQuery icon">
                <p class="card-text text-dark">JQuery</p>
              </div>
              <div class="card col col-2 m-2 p-3 bg-secondary-subtle">
                <i class="fa-brands fa-github fa-2xl p-2"></i>
                <p class="card-text">Git</p>
              </div>

              

              
            </div>
          </section>
        </div>


      </section>
    </div>
  