<div id='homepage'
  class="container-fluid  text-center vh-100 d-block d-md-flex flex-column m-0 pt-5 align-content-center justify-content-around">
  <h1 class="p-2 pt-5">Hi, I'm Sylvester</h1>
  <h3 class="pt-5"> Freelance web developer</h3>
  <section >

    <div class="row pt-5 d-block d-md-flex">
      <section class="col col-md-5 d-flex flex-column justify-content-center ">
        <h2 class="p-2 text-center">Technologies stack</h2>
        <div class="container bg-success bottom-2 bg-gradientR  mb-0 mb-4 rounded-4" style="height: 0.1rem;"></div>
      </section>

      <section class="col col-md-7 d-flex flex-wrap ">
        <div class="card text-center bg-secondary text-white rounded-1 m-0 p-0 me-2 mb-2" style="width: 7rem;">
          <div class="card-body p-2 pt-3">
            <i class="fa-brands fa-html5 fa-2xl  "></i>
            <h6 class="card-text pt-3 mb-2 ">HTML5</h6>
          </div>
        </div>

        <div class="card text-center bg-secondary text-white rounded-1 m-0 p-0 me-2 mb-2" style="width: 7rem;">
          <div class="card-body p-2 pt-3">
            <i class="fa-brands fa-css3 fa-2xl  "></i>
            <h6 class="card-text pt-3 mb-2 ">CSS</h6>
          </div>
        </div>

        <div class="card text-center bg-secondary text-white rounded-1 m-0 p-0 me-2 mb-2" style="width: 7rem;">
          <div class="card-body p-2 pt-3">
            <i class="fa-brands fa-js fa-2xl  "></i>
            <h6 class="card-text pt-3 mb-2 ">Java Script</h6>
          </div>
        </div>

        <div class="card text-center bg-secondary text-white rounded-1 m-0 p-0 me-2 mb-2" style="width: 7rem;">
          <div class="card-body p-2 pt-3">
            <i class="fa-brands fa-bootstrap fa-2xl  "></i>
            <h6 class="card-text pt-3 mb-2 ">Bootstrap</h6>
          </div>
        </div>

        <div class="card text-center bg-secondary text-white rounded-1 m-0 p-0 me-2 mb-2" style="width: 7rem;">
          <div class="card-body p-2 pt-3">
            <i class="fa-brands fa-sass fa-2xl  "></i>
            <h6 class="card-text pt-3 mb-2 ">Sass</h6>
          </div>
        </div>
        <div class="card text-center bg-secondary text-white rounded-1 m-0 p-0 me-2 mb-2" style="width: 7rem;">
          <div class="card-body p-2 pt-3">
            <img class="img-fluid bg-secondary" src="../media/jquery_white_35px.png">
            <h6 class="card-text pt-3 mb-2 ">Jquery</h6>
          </div>
        </div>
        <div class="card text-center bg-secondary text-white rounded-1 m-0 p-0 me-2 mb-2" style="width: 7rem;">
          <div class="card-body p-2 pt-3">
            <i class="fa-brands fa-github fa-2xl  "></i>
            <h6 class="card-text pt-3 mb-2 ">Github</h6>
          </div>
        </div>
        <div class="card text-center bg-secondary text-white rounded-1 m-0 p-0 me-2 mb-2" style="width: 7rem;">
          <div class="card-body p-2 pt-3">
            <i class="fa-brands fa-angular fa-2xl  "></i>
            <h6 class="card-text pt-3 mb-2 ">Angular</h6>
          </div>
        </div>




        <!-- <div class="container-fluid d-flex flex-wrap align-content-start m-0 p-2" >
              
            
              <div class="container-fluid  m-2  bg-secondary bg-gradient w-25 p-2 d-none d-md-block " style="width:auto; height: 6rem;">
                
                <img class="img-fluid w-50 " src="../media/icons8-sass-50.png" style="width: 25%; margin: 0 auto;" style="width:auto; height: 6rem;">
                <p class="card-text " style="width: 40px; height: 3rem;">Sass</p>
              </div>
              <div class="container-fluid  m-2  bg-secondary bg-gradient w-25 p-2 d-none d-md-block " style="width:auto; height: 6rem;">
                <img src="./media/jquery-ui-logo.256x224.png" style="width: 25%; margin: 0 auto; padding-top: 10px;"
                  alt="jQuery icon">
                <p class="card-text text-dark">JQuery</p>
              </div>
              <div class="container-fluid  m-2  bg-secondary bg-gradient w-25 p-2 d-none d-md-block " style="width:auto; height: 6rem;">
                <i class="fa-brands fa-github fa-2xl p-2"></i>
                <p class="card-text">Git</p>
              </div>

              

              
            </div>
            -->
      </section>
    </div>


  </section>
</div>