<div id="projectsSection" class="container-fluid pt-5 mt-0 text-center  bg-primary bg-gradient">

    <section class="row pt-5 pb-5 text-center  d-flex  ">
        <h1 class="col col-4 h-100 pt-4 pb-5 border-right me-1">Sample Projects</h1>

        <!--Projects-->
        <div class="container d-flex flex-wrap justify-content-center col-7 m-3 bg-primary bg-gradient border-start ">
            <div class="card col-4 m-3 rounded-1 p-3 bg-dark text text-white projItem d-flex flex-column align-items-center">
                <img>
                <h3>Project A</h3>
                <p>some text</p>
                <button class="btn btn-info w-50 bg-gradient mb-2 p-2" data-bs-toggle="modal"
                    data-bs-target="#projModal1">View</button>
                <!-- Modal -->
                <div class="modal fade w-100" id="projModal1" tabindex="-1" aria-labelledby="projModal1"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal of Project A</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Modal-->
            </div>


            <div class="card col-4 m-3 rounded-1 p-3 bg-dark text text-white projItem d-flex flex-column align-items-center">
                <img>
                <h3>Project B</h3>
                <p>some text</p>
                <button class="btn btn-info bg-gradient mb-2 p-2 w-50" data-bs-toggle="modal"
                    data-bs-target="#projModal2">View</button>

                <!-- Modal -->
                <div class="modal fade w-100" id="projModal2" tabindex="-1" aria-labelledby="projModal1"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal of Project B</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Modal-->
            </div>

            <div class="card col-4 m-3 rounded-1 p-3 bg-dark text text-white projItem d-flex flex-column align-items-center">
                <img>
                <h3>Project C</h3>
                <p>some text</p>
                <button class="btn btn-info bg-gradient mb-2 p-2 w-50" data-bs-toggle="modal"
                    data-bs-target="#projModal3">View</button>

                <!-- Modal -->
                <div class="modal fade w-100" id="projModal3" tabindex="-1" aria-labelledby="projModal1"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal of Project C</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Modal-->
            </div>
            <div class="card col-4 m-3 rounded-1 p-3 bg-dark text text-white projItem d-flex flex-column align-items-center">
                <img>
                <h3>Project D</h3>
                <p>some text</p>
                <button class="btn btn-info bg-gradient mb-2 p-2 w-50" data-bs-toggle="modal"
                    data-bs-target="#projModal4">View</button>
                <!-- Modal -->
                <div class="modal fade w-100" id="projModal4" tabindex="-1" aria-labelledby="projModal1"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal of Project D</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Modal-->
            </div>
        </div>
    </section>


</div>